<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>CNL Systems</title> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="logo">CNL Systems</a>
        <div id="navbar-button-slot"></div>
        <ul class="nav-links">
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/login">Login</a></li>
        </ul>
    </div>
</nav>

{% body block %}

{% endblock %}